.missionSection {
    background: var(--c-soft-yellow);

    border-radius: 20px;
    margin-inline: auto;

    width: var(--c-width, 90%);

    position: relative;

    animation: missionTransUp 0.5s linear forwards;

    @keyframes missionTransUp {
        from {
            top: 50px;
        }
        to {
            top: 0;
        }
    }

    &__content {
        height: 100%;
        padding: 2em 1em;

        &--right {
            color: var(--c-green);

            & > p {
                margin-bottom: 2em;
            }

            & > h2 {
                margin-bottom: 0.7em;
                font-size: var(--fs-600);
                color: var(--c-green);
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;

        &__img {
            background: url("/assets/images/mission\ image.webp");
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }
    }

    @media screen and (min-width: 1000px) {
        &__content {
            padding: 3em 0 3em 3em;

            &--right {
                & > p {
                    margin-bottom: auto;
                }
            }
        }
    }
}
