@forward "./reset";
@forward "./root";
@forward "./typography";
@forward "./utils";

body {
    overscroll-behavior: none;
    background: var(--c-green);

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}
