.ff-sans {
    font-family: var(--ff-sans);
}

.fw-n {
    font-weight: var(--fw-normal);
}

.fw-sm {
    font-weight: var(--fw-semi-bold);
}

.fw-black {
    font-weight: var(--fw-black);
}

.fs-n {
    font-size: var(--fs-400);
}

.fs-sm {
    font-size: var(--fs-300);
}

.capitalize {
    text-transform: capitalize;
}
