/* 
REUSABLE UTILITY CLASS
*/

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
    gap: var(--gap, 0.5em);
}

/* 
ELEMENT WITH THIS CLASS IS VISUALLY HIDDEN FROM USER 👇
*/
.sr_only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
/* 
ELEMENT WITH THIS CLASS IS VISUALLY HIDDEN FROM USER 👆
*/

.btn_reset {
    outline: none;
    border: none;
    background: none;
}

/* 
========== CONTENT WRAPPER
*/
.contentWrapper {
    width: 100%;
    max-width: 90%;
    margin-inline: auto;

    @media screen and (min-width: 1000px) {
        max-width: 1440px;
    }
}

/* 
========= GRID CONTAINER
*/
.gridContainer {
    display: flex;
    flex-direction: column;
    gap: 3em;

    &--reverse {
        flex-direction: column-reverse;
    }

    @media screen and (min-width: 1000px) {
        gap: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* 
========= GRADIENT BLACK
*/

.gradient__black {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100%
    );
}
